# Secrets
.env

# Κείμενο διπλωματικής — μένει ΜΟΝΟ τοπικά
latex/

# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/

# Data & Proprietary Files
*.mmdb
resources/*.mmdb


# OS / IDE
.DS_Store
.vscode/
.idea/
